<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ancun.boss.persistence.biz.mapper.BizCancelRecordMapper">
    <resultMap id="BaseResultMap" type="com.ancun.boss.pojo.callInfo.CancelRecordBusinessOutput">
        <id column="ID" property="id" jdbcType="BIGINT" />
    	<result column="CALLPHONE" property="callphone" jdbcType="VARCHAR" />
    	<result column="SEX" property="sex" jdbcType="VARCHAR" />
    	<result column="NAME" property="name" jdbcType="VARCHAR" />
    	<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    	<result column="OPEN_TIME" property="openTime" jdbcType="DATE" />
    	<result column="CANCEL_TIME" property="cancelTime" jdbcType="DATE" />
    	<result column="CALL_TIME" property="callTime" jdbcType="TIMESTAMP" />
    	<result column="CANCEL_REQIRE" property="cancelReqire" jdbcType="VARCHAR" />
    	<result column="REFUND_MONEY" property="refundMoney" jdbcType="DOUBLE" />
   		<result column="REFUND_TIME" property="refundTime" jdbcType="TIMESTAMP" />
    	<result column="VOICE" property="voice" jdbcType="VARCHAR" />
    	<result column="SOURCE" property="source" jdbcType="VARCHAR" />
    	<result column="ORDER_NO" property="orderNo" jdbcType="BIGINT" />
    	<result column="ADJUST_MONTHS" property="adjustMonths" jdbcType="VARCHAR" />
    	<result column="ADJUST_MONEY" property="adjustMoney" jdbcType="DOUBLE" />
    	<result column="REMARK" property="remark" jdbcType="VARCHAR" />
    	<result column="BUSINESS" property="business" jdbcType="VARCHAR" />
        <result column="BUSINESS_NAME" property="businessName" jdbcType="VARCHAR" />
        <result column="CANCEL_REQIRE_NAME" property="cancelReqireName" jdbcType="VARCHAR" />
        <result column="SOURCE_NAME" property="sourceName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryCancelRecordList" parameterType="com.ancun.boss.pojo.callInfo.CancelRecordInput" resultMap="BaseResultMap">
        SELECT DISTINCT
        t1.ID,
        t1.CALLPHONE,
        t1.SEX,
        t1.NAME,
        t1.CREATE_TIME,
        t1.OPEN_TIME,
        t1.CANCEL_TIME,
        t1.CALL_TIME,
        t1.CANCEL_REQIRE,
        t1.REFUND_MONEY,
        t1.REFUND_TIME,
        t1.VOICE,
        t1.SOURCE,
        t1.ORDER_NO,
        t1.ADJUST_MONTHS,
        t1.ADJUST_MONEY,
        t1.REMARK,
        t1.BUSINESS,
        t2.`NAME` BUSINESS_NAME,
        t3.`NAME` CANCEL_REQIRE_NAME,
        t4.`NAME` SOURCE_NAME
        FROM
        CANCEL_RECORD t1
        LEFT JOIN SYSTEM_BASIC_CONFIG t2 ON t1.BUSINESS = t2.`CODE` AND t2.`MOUDLECODE` = 'BIZ-NAME'
        LEFT JOIN SYSTEM_BASIC_CONFIG t3 ON t1.CANCEL_REQIRE = t3.`CODE` AND t3.`MOUDLECODE` = 'CANCEL-PAY'
        LEFT JOIN SYSTEM_BASIC_CONFIG t4 ON t1.SOURCE = t4.`CODE`AND t4.`MOUDLECODE` = 'COMP-SOURCE'
        where 1 = 1
        <if test="business != null and business !=''" >
            AND t1.BUSINESS = #{business,jdbcType=VARCHAR}
        </if>
        <if test="callphone != null and callphone !=''" >
            AND t1.CALLPHONE = #{callphone,jdbcType=VARCHAR}
        </if>
        <if test="cancelReqire != null and cancelReqire !=''" >
            AND t1.CANCEL_REQIRE = #{cancelReqire,jdbcType=VARCHAR}
        </if>
        <if test="callTimeStart != null and callTimeStart !=''" >
            AND t1.CALL_TIME &gt;= #{callTimeStart,jdbcType=VARCHAR}
        </if>
        <if test="callTimeEnd !=null and callTimeEnd !=''">
            AND t1.CALL_TIME &lt;= date_add(#{callTimeEnd,jdbcType=VARCHAR}, INTERVAL 1 day)
        </if>
        <if test="cancelTimeStart != null and cancelTimeStart !=''" >
            AND t1.CANCEL_TIME &gt;= #{cancelTimeStart,jdbcType=VARCHAR}
        </if>
        <if test="cancelTimeEnd !=null and cancelTimeEnd !=''">
            AND t1.CANCEL_TIME &lt;= #{cancelTimeEnd,jdbcType=VARCHAR}
        </if>
        
        <if test="source != null and source !=''" >
            AND t1.SOURCE = #{source,jdbcType=VARCHAR}
        </if>
            ORDER BY t1.ID DESC
  </select>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    t1.ID, t1.CALLPHONE, t1.SEX, t1.NAME, t1.CREATE_TIME, t1.OPEN_TIME, t1.CANCEL_TIME, t1.CALL_TIME, t1.CANCEL_REQIRE, 
    t1.REFUND_MONEY, t1.REFUND_TIME, t1.VOICE, t1.SOURCE, t1.ORDER_NO, t1.ADJUST_MONTHS, t1.ADJUST_MONEY, 
    t1.REMARK, t1.BUSINESS, t2.`NAME` BUSINESS_NAME,t3.`NAME` CANCEL_REQIRE_NAME,t4.`NAME` SOURCE_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from CANCEL_RECORD t1
    LEFT JOIN SYSTEM_BASIC_CONFIG t2 ON t1.BUSINESS = t2.`CODE` AND t2.`MOUDLECODE` = 'BIZ-NAME'
        LEFT JOIN SYSTEM_BASIC_CONFIG t3 ON t1.CANCEL_REQIRE = t3.`CODE` AND t3.`MOUDLECODE` = 'CANCEL-PAY'
        LEFT JOIN SYSTEM_BASIC_CONFIG t4 ON t1.SOURCE = t4.`CODE`AND t4.`MOUDLECODE` = 'COMP-SOURCE'
    where ID = #{id,jdbcType=BIGINT}
  </select>
   <insert id="insertSelective" parameterType="com.ancun.boss.pojo.callInfo.CancelRecordBusinessOutput"
   			useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into CANCEL_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="callphone != null" >
        CALLPHONE,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="openTime != null" >
        OPEN_TIME,
      </if>
      <if test="cancelTime != null" >
        CANCEL_TIME,
      </if>
      <if test="callTime != null" >
        CALL_TIME,
      </if>
      <if test="cancelReqire != null" >
        CANCEL_REQIRE,
      </if>
      <if test="refundMoney != null" >
        REFUND_MONEY,
      </if>
      <if test="refundTime != null" >
        REFUND_TIME,
      </if>
      <if test="voice != null" >
        VOICE,
      </if>
      <if test="source != null" >
        SOURCE,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="adjustMonths != null" >
        ADJUST_MONTHS,
      </if>
      <if test="adjustMoney != null" >
        ADJUST_MONEY,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="business != null" >
        BUSINESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="callphone != null" >
        #{callphone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=DATE},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=DATE},
      </if>
      <if test="callTime != null" >
        #{callTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelReqire != null" >
        #{cancelReqire,jdbcType=VARCHAR},
      </if>
      <if test="refundMoney != null" >
        #{refundMoney,jdbcType=DOUBLE},
      </if>
      <if test="refundTime != null" >
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voice != null" >
        #{voice,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="adjustMonths != null" >
        #{adjustMonths,jdbcType=VARCHAR},
      </if>
      <if test="adjustMoney != null" >
        #{adjustMoney,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="business != null" >
        #{business,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update CANCEL_RECORD
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.callphone != null" >
        CALLPHONE = #{record.callphone,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.openTime != null" >
        OPEN_TIME = #{record.openTime,jdbcType=DATE},
      </if>
      <if test="record.cancelTime != null" >
        CANCEL_TIME = #{record.cancelTime,jdbcType=DATE},
      </if>
      <if test="record.callTime != null" >
        CALL_TIME = #{record.callTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cancelReqire != null" >
        CANCEL_REQIRE = #{record.cancelReqire,jdbcType=VARCHAR},
      </if>
      <if test="record.refundMoney != null" >
        REFUND_MONEY = #{record.refundMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.refundTime != null" >
        REFUND_TIME = #{record.refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.voice != null" >
        VOICE = #{record.voice,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        SOURCE = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null" >
        ORDER_NO = #{record.orderNo,jdbcType=BIGINT},
      </if>
      <if test="record.adjustMonths != null" >
        ADJUST_MONTHS = #{record.adjustMonths,jdbcType=VARCHAR},
      </if>
      <if test="record.adjustMoney != null" >
        ADJUST_MONEY = #{record.adjustMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.business != null" >
        BUSINESS = #{record.business,jdbcType=VARCHAR},
      </if>
      
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

</mapper>