<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ancun.common.persistence.mapper.dx.RolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.ancun.common.persistence.model.dx.RolePermission">
        <!--
          WARNING - @mbggenerated
        -->
        <result column="ROLE_ID" property="roleId" jdbcType="BIGINT"/>
        <result column="PERMISSION_ID" property="permissionId" jdbcType="BIGINT"/>
    </resultMap>

    <delete id="deleteRolePermissionByUserNo" parameterType="java.lang.String">
        DELETE from role_permission where role_id in ( SELECT ID from record_role t where t.USER_NO = #{userNo,jdbcType=VARCHAR} )
    </delete>
</mapper>