<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ancun.common.persistence.mapper.master.BizPersonInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ancun.common.persistence.model.master.BizPersonInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="USER_NO" property="userNo" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="IDENTIFY" property="identify" jdbcType="VARCHAR" />
    <result column="FULLPACKAGE" property="fullpackage" jdbcType="VARCHAR" />
    <result column="UNIQUENO" property="uniqueno" jdbcType="VARCHAR" />
    <result column="BIZ_NO" property="bizNo" jdbcType="VARCHAR" />
  </resultMap>
</mapper>